<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../Scripts/knockout-3.4.2.debug.js"></script>
    <script src="../js/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Users Service</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Users</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled" data-bind="foreach: users">
                            <li>
                                <span data-bind="text: Username"></span>:
                                <span data-bind="text: Email"></span>
                                <a href="#" style="font-size:smaller">Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script>
        var usersUrl = "../api/users";
        $.getJSON(usersUrl, function (data) {

            data.forEach(function (user) {
                $("#tblUsers").append("<tr><td>" + user.Id + "</td>" +
                    "<td>" + user.Name + "</td>" +
                    "<td>" + user.Email + "</td></tr>");
            });
        });
    </script>
</body>
</html>